/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px arial, sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px arial, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Graffiti';
    src: url('../fonts/Graffiti1C_Regular.eot');
    src: url('../fonts/Graffiti1C_Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graffiti1C_Regular.woff') format('woff'),
    url('../fonts/Graffiti1C_Regular.ttf') format('truetype'),
    url('../fonts/Graffiti1C_Regular.svg#pf_agora_sans_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
    width: 1024px;
    margin: 0 auto;
}
.wrap-header {
    z-index: 70;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}
#myContainer {
    height: 100%;
}
.section {
    position: relative;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.section1,
.section5 {
    background-image: url("../images/bg/first_page.jpg");
}
.section2,
.section4 {
    background-image: url("../images/bg/second_page.jpg");
}
.section3 {
    background-image: url("../images/bg/third_page.jpg");
}
#section0 .none,
#section0 .fp-controlArrow {
    display: none;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
    width: 905px;
    margin: 5px auto 9px;
}
    .main-nav {
        float: left;
        margin-top: 10px;
    }
        .main-nav li {
            display:inline-block;
            padding: 0 3px;
            margin: 0 8px;
        }
        .main-nav li:first-child {
            margin-left: 0;
        }
        .main-nav li:last-child {
            margin-right: 0;
        }
            .main-nav a {
                font-size: 16px;
                color: #fff;
                text-decoration: none;
            }
            .main-nav .active a,
            .main-nav a:hover {
                color: #9fb718;
            }
            .main-nav .active {
                border-bottom: 2px solid #fff;
            }
    .right-block-header {
        float: right;
    }
        .search-form {
            float: left;
            padding: 3px 10px;
            margin-top: 8px;
            background: rgba(255, 255, 255, .5);
        }
            .search-form .btn-text,
            .search-form .btn-search {
                border: none;
                color: #fff;
                font-size: 12px;
                background: none;
            }
            .search-form .btn-text {
                width: 75px;
            }
                .search-form .btn-text::-webkit-input-placeholder {color: #fff;}
                .search-form .btn-text::-moz-placeholder          {color: #fff;}
                .search-form .btn-text:-moz-placeholder           {color: #fff;}
                .search-form .btn-text:-ms-input-placeholder      {color: #fff;}

            .search-form .btn-search {
                font-size: 16px;
            }
        .setting-cart {
            overflow: hidden;
            float: right;
        }
            .setting-cart li {
                float: left;
                margin-left: 17px;
            }
                .setting-cart a {
                    display: inline-block;
                    height: 37px;
                    text-indent: -9999px;
                    color: #fff;
                    background: url("../images/header/icon_header_sprite.png") no-repeat;
                }
                .personal-settings a {
                    width: 28px;
                }
                .cart a {
                    width: 48px;
                    background-position: -46px 0;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-logo h1 {
    font: 46px 'Graffiti';
    color: #fff;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px){
    .section {
        background-size: 100% 100%;
    }
}
.center {
    text-align: center;
}
.btn-toggle-page a {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 32px;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 100;
}
.btn-bottom a {
    bottom: 15px;
    background: url("../images/arrow_bottom.png") no-repeat;
}
.btn-top a {
    top: 60px;
    background: url("../images/arrow_top.png") no-repeat;
}