/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px arial, sans-serif; background:#fff; color:#fff; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px arial, sans-serif; color:#fff; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Graffiti';
    src: url('../fonts/Graffiti1C_Regular.eot');
    src: url('../fonts/Graffiti1C_Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graffiti1C_Regular.woff') format('woff'),
    url('../fonts/Graffiti1C_Regular.ttf') format('truetype'),
    url('../fonts/Graffiti1C_Regular.svg#pf_agora_sans_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
    width: 1024px;
    margin: 45px auto;
}
.wrap-header {
    z-index: 70;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}
#myContainer {
    height: 100%;
}
.section,
.news-page {
    position: relative;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.section1,
.section5 {
    background-image: url("../images/bg/first_page.jpg");
}
.section2,
.section4,
.news-page {
    background-image: url("../images/bg/second_page.jpg");
}
.section3 {
    background-image: url("../images/bg/third_page.jpg");
}
#section0 .none,
#section0 .fp-controlArrow {
    display: none;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
    width: 905px;
    margin: 5px auto 3px;
}
    .main-nav {
        float: left;
        margin-top: 10px;
    }
        .main-nav li {
            display:inline-block;
            padding: 0 3px;
            margin: 0 8px;
        }
        .main-nav li:first-child {
            margin-left: 0;
        }
        .main-nav li:last-child {
            margin-right: 0;
        }
            .main-nav a {
                font-size: 16px;
                color: #fff;
                text-decoration: none;
            }
            .main-nav .active a,
            .main-nav .active-inner a,
            .main-nav a:hover {
                color: #9fb718;
            }
            .main-nav .active,
            .main-nav .active-inner {
                border-bottom: 2px solid #fff;
            }
    .right-block-header {
        float: right;
    }
        .search-form {
            float: left;
            padding: 3px 10px;
            margin-top: 8px;
            background: rgba(255, 255, 255, .5);
        }
            .search-form .btn-text,
            .search-form .btn-search {
                border: none;
                color: #fff;
                font-size: 12px;
                background: none;
            }
            .search-form .btn-text {
                width: 75px;
            }
                .search-form .btn-text::-webkit-input-placeholder {color: #fff;}
                .search-form .btn-text::-moz-placeholder          {color: #fff;}
                .search-form .btn-text:-moz-placeholder           {color: #fff;}
                .search-form .btn-text:-ms-input-placeholder      {color: #fff;}

            .search-form .btn-search {
                font-size: 16px;
            }
        .setting-cart {
            overflow: hidden;
            float: right;
        }
            .setting-cart li {
                float: left;
                margin-left: 17px;
            }
                .setting-cart a {
                    display: inline-block;
                    height: 37px;
                    text-indent: -9999px;
                    color: #fff;
                    background: url("../images/header/icon_header_sprite.png") no-repeat;
                }
                .personal-settings a {
                    width: 28px;
                }
                .cart a {
                    width: 48px;
                    background-position: -46px 0;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-logo h1 {
    font: 46px 'Graffiti';
    color: #fff;
}
.wrap-inner-slider {
    position: relative;
    display: table;
    width: 930px;
    height: 670px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .5);
    text-align: center;
}
    .wrap-inner-slider .top-desc,
    .wrap-inner-slider .bottom-desc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 21px 0;
        background: rgba(0, 0, 0, .5);
        font-size: 20px;
    }
    .wrap-inner-slider .bottom-desc {
        top: auto;
        bottom: 0;
    }
.list-cart,
.list-cart-contact {
    overflow: hidden;
    display: inline-block;
}
    .list-cart li,
    .list-cart-contact li {
        position: relative;
        display: inline-block;
        width: 180px;
        height: 200px;
        margin: 0 6px 40px;
        background: rgba(0, 0, 0, .5);
    }
        .list-cart li a,
        .list-cart-contact li a {
            display: block;
        }
    .list-cart li:hover,
    .list-cart-contact li:hover {
        background: rgba(0, 0, 0, .6);
    }
    .list-cart li:hover .name-cart,
    .list-cart-contact li:hover .name-cart,
    .list-cart-contact li.active .name-cart {
        background: #9DB424;
    }
        .wrap-foto-cart {
            display: table;
            height: 133px;
            width: 100%;
        }
            .wrap-foto-cart span {
                display: table-cell;
                vertical-align: middle;
            }
        .name-cart {
            position: absolute;
            bottom: 0;
            display: table;
            height: 67px;
            width: 100%;
            font: 18px 'Graffiti';
            color: #fff;
            background: url("../images/content/carts/bg_cart.png") no-repeat;
        }
        .list-cart-contact .name-cart {
            font: 22px Arial, sans-serif;
        }
            .name-cart span {
                display: table-cell;
                vertical-align: middle;
            }
.list-more-info {
    min-height: 190px;
    width: 960px;
    padding: 25px 0 20px;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}
    .list-more-info li {
        display: none;
    }
    .list-more-info li.active {
        display: block;
    }
        .list-more-info span {
            display: block;
            margin-bottom: 15px;
            font-size: 22px;
        }
            .list-more-info .email {
                color: #99b11b;
            }

    .inner-middle-block {
        width: 440px;
        margin: 0 auto;
    }
    .two-column {
        overflow: hidden;
        display: inline-block;
        margin: 0 20px;
        padding: 10px 0;
    }
        .desc-goods {
            position: relative;
            height: 570px;
            background: rgba(0, 0, 0, .5);
        }
        .wrap-desc {
            padding: 0 40px;
        }
        .btn-add-basket {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 55px;
            width: 100%;
            border: none;
            background: #a3c10b;
            color: #fff;
            font-size: 22px;
            cursor: pointer;
        }
        .btn-add-basket:hover {
            background: #8EA90A;
        }
        .right-column {
            padding: 0 30px;
        }
            .right-column .list-charact-goods .value {
                text-align: right;
            }
            .name-section {
                font: 30px 'Graffiti';
                color: #a3c00b;
            }
            .list-charact-goods {
                overflow: hidden;
                margin-bottom: 10px;
                font-size: 18px;
            }
                .list-charact-goods li {
                    overflow: hidden;
                    margin-bottom: 10px;
                }
                .total li {
                    padding: 7px 55px 7px 45px;
                    background: rgba(0, 0, 0, .5);
                }
                    .name-charact {
                        float: left;
                    }
                    .list-charact-goods .value {
                        float: right;
                        width: 95px;
                        text-align: center;
                    }
                        .block-calc {
                            float: right;
                            width: 45px;
                            margin-left: 10px;
                            background: rgba(0, 0, 0, .5);
                            font-size: 24px;
                            text-align: center;
                            min-height: 1px;
                        }
                            .block-calc span {
                                cursor: pointer;
                            }
            .desc-goods p {
                font-size: 14.5px;
                line-height: 1.3;
            }
            .wrap-foto-goods {
                position: relative;
                display: table;
                height: 280px;
                width: 100%;
                text-align: center;
            }
                .wrap-foto {
                    display: table-cell;
                    vertical-align: middle;
                }
                .btn-increase {
                    display: block;
                    position: absolute;
                    right: 50px;
                    bottom: 20px;
                    width: 27px;
                    height: 27px;
                    background: url("../images/content/btn_increase.png") no-repeat;
                }
        .inner-middle-block .top-block {
            display: table;
            width: 100%;
            height: 270px;
            margin-bottom: 15px;
            background: rgba(0, 0, 0, .5);
        }
            .inner-middle-block .top-block span {
                display: table-cell;
                vertical-align: middle;
            }
        .inner-middle-block .bottom-block {
            overflow: hidden;
            padding-top: 20px;
            background: rgba(0, 0, 0, .5);
        }
            .inner-middle-block .date {
                display: inline-block;
                margin-bottom: 20px;
                font-size: 18px;
            }
            .bottom-block p {
                padding: 0 10px;
                margin-bottom: 25px;
                color: #fff;
                font: 16px 'PT Sans', sans-serif;
                text-align: center;
                line-height: 1.3;
            }
            .bottom-block strong {
                color: #99b11b;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px){
    .section {
        background-size: 100% 100%;
    }
}
.center {
    text-align: center;
}
.btn-toggle-page a {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 32px;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 100;
}
.btn-bottom a {
    bottom: 15px;
    background: url("../images/arrow_bottom.png") no-repeat;
}
.btn-top a {
    top: 60px;
    background: url("../images/arrow_top.png") no-repeat;
}
.hide {
    display: none;
}